[user]
	email = baltasardelsol@gmail.com
	name = Baltasar del Sol de Haro
[core]
	editor = nvim

[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[merge]
  tool = nvim

[mergetool]
  prompt = false

